:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #b9b9b942;
    --text-color: #000000;
    --secondary-text-color: #2c2c2c;
    --accent-color: #000000;
    --hover-color: #217cbd;
    --link-color: #000000;
    --hover-link-color: #294fb9;
    --border-color: #ffffff00;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    background-color: var(--primary-background-color);
    color: var(--text-color);
    font-family: var(--bs-font-monospace);
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--hover-link-color);
}

.container {
    border: 1px solid var(--border-color);
}

.content-container {
    margin: auto auto;
}

.navbar {
    background-color: var(--primary-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 100px;
   
}

.navbar-toggler {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler .fa-solid.fa-bars {
    height: 2px;
    width: 25px;
    background-color: var(--text-color);
    margin: 3px 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.navbar-toggler:hover {
    color: var(--hover-color);
    background-color: var(--secondary-background-color);
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0.5rem;
} 

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--accent-color);
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 14px;
    margin: 0 0.5rem;
    letter-spacing: 0.5px;
}

.navbar .navbar-nav a.nav-link:hover {
    color: var(--hover-link-color);
    border-radius: 8%;
    background-color: #ebebeb71;
}

.navbar .navbar-nav .nav-item a.nav-link.active {
    color: var(--hover-link-color);
    
}


.navbar .navbar-nav .nav-item > .social-link {
    color: var(--accent-color);
    font-size: 1.4rem;
    margin: 0 0.3rem;
}

.navbar .navbar-nav .nav-item > .social-link:hover {
    color: var(--hover-link-color);
}

.social-links {
    display: flex;
    align-items: center;
    height: 30px;
}

.social-links::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
    margin-right: 1rem;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

.masthead {
    padding-top: calc(2rem + 50px);
    padding-bottom: calc(2rem + 10px);
    text-align: center;
    min-height: 70dvh;
    font-family: var(--bs-font-sans-serif);
}

.masthead .masthead-heading {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 2rem;
    letter-spacing: 1px;
    white-space: nowrap;
}

.masthead .masthead-subheading,
.masthead .masthead-content {
    text-transform: lowercase;
    font-weight: 400;
    color: var(--secondary-text-color);
}

.masthead .masthead-subheading {
    font-size: 1.4rem;
    font-weight: 440;
}

.masthead .masthead-content {
    font-size: 1.3rem;
    padding: 2rem;
}

.subheading-container {
    width: 75%;
    margin: 2rem auto;
    padding: 20px;
}

.masthead-img {
    background-image: url('../img/background-img.jpg');
    background-size: cover;
    background-position: center;
}

.scroll-button {
    background-color: var(--hover-color);
    color: var(--primary-background-color);
    border: none;
    border-radius: 15px;
    text-transform: lowercase;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: var(--secondary-background-color);
}

.scroll-button:focus,
.scroll-button:active {
    outline: none;
    box-shadow: none;
}

#backToTopButton {
    text-transform: lowercase;
    height: 40px;
    font-size: 14px;
    font-weight: lighter;
    margin: 0 0.5rem;
    letter-spacing: 0.5px;
    border-radius: 20px;
}

.about-section {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    background-color: #f8f8f8;
    padding: 2rem 2rem 2rem 0;
}

.about-section .about-heading {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 2rem;
}

.about-section .about-content {
    font-size: 1rem;
    line-height: 1.6;
    word-spacing: 4%;
    color: var(--secondary-text-color);
    text-align: justify;
    padding: 0 1rem;
}

.about-content > h2 {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
    padding: 2rem;
}

.about-content > h3 {
    font-size: 1.4rem;
    font-weight: 200;
    padding: 1rem 0 0.5rem;
}

#aboutContent {
    overflow-y: hidden; 
}

#aboutContent::-webkit-scrollbar,
#aboutContent {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.custom-position {
    position: sticky;
    top: 60px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    padding-right: 5rem;
}

.about-nav ul.nav {
    padding: 100px 0 10px;
}

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollable-content {
    overflow-y: auto;
    height: 100%;
}

.content-separator {
    color: rgba(91, 91, 91, 0.768);
    height: 5px;
    margin-top: 50px;
}

.about-nav .nav-link {
    color: var(--primary-background-color);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 2rem;
    transition: color 0.3s, background-color 0.3s;
    background-color: #b3b5b8;
    border-radius: 20px;
    text-transform: lowercase;
}

.about-nav .nav-link a {
    align-content: center;
}
.about-nav .nav-link.active {
    color: #ffffff;
    background-color: var(--hover-color);
    
}

.about-nav .nav-link:hover {
    background-color: var(--secondary-background-color);
}

.fact-box {
    background-color: #dedede4c;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.fact-box h3 {
    font-size: large;
    text-decoration: underline;
}

.contact-section {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    background-color: #f8f8f8;
    padding: 2rem 2rem 2rem 0;
}

.contact-section .email-header {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    text-align: center;
}

.header {
    margin-bottom: 1.5rem; 
}

footer {
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.864);
    z-index: 1000;
    height: 70px;
    color: #0000008f;
    text-transform: lowercase;
    font-size: smaller;
    font-weight: lighter;
    letter-spacing: 0.5px;
    padding: 10px;
}

.custom-social-link {
    font-size: 1.7rem;
    margin: 40px;
    transition: color 0.3s, background-color 0.3s;
    display: flex;
    align-items: center;
    text-decoration: none; 
}

.custom-social-link i {
    width: 50px; /* Fixed width for the icon */
    height: 50px; /* Fixed height for the icon */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #fff;
}

.custom-social-link.fb i {
    background-color: #3b5998;
}

.custom-social-link.gh i {
    background-color: #333;
}

.custom-social-link.li i {
    background-color: #0e76a8;
}

.custom-social-link:hover i {
    opacity: 0.6;
}

.custom-social-link span {
    color: #000; 
}

.custom-social-link:hover span {
    opacity: 0.6; 
}



/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .masthead .masthead-heading {
        font-size: 2rem;
        line-height: 2rem;
        white-space: normal;
    }

    .masthead {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.2rem;
    }

    .masthead .masthead-content {
        font-size: 1.1rem;
        padding: 1rem;
    }

    .subheading-container {
        width: 90%;
        padding-bottom: 10px;
    }

    .navbar {
        height: auto;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-toggler {
        display: flex;
    }

    .navbar-brand {
        margin: auto;
    }


    .social-links {
        display: none !important;
    }

    .about-section {
        padding: 2rem 1rem;
        min-height: 86vh;
    }

    .about-section .about-heading {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .about-section .about-content {
        font-size: 1rem;
        padding: 0 0.5rem;
    }

    .about-nav .nav-link {
        font-size: 14px;
    }

    .contact-section .email-header {
        padding: 0;
    }

    .header {
        margin-bottom: 1rem;
    }

    .contact-section {
        padding: 2rem 1rem;
    }

    .custom-social-link span {
        display: none;
    
    }

    .custom-social-link {
        font-size: 1.5rem;
        margin: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .custom-social-link i {
        width: 50px; 
        height: 50px; 
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        color: #fff; 
    }
}

@media (max-width: 990px) {
    .col-md-2 {
        display: none !important;
    }
    .social-links {
        display: none !important;
    }
}

@media (min-width: 991px) {
    .col-md-2 {
        display: flex;
        flex-direction: column;
    }
    .contact-section {
        padding: 1rem;
    }
}