:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #b9b9b942;
    --text-color: #000000;
    --secondary-text-color: #2c2c2c;
    --accent-color: #000000;
    --hover-color: #217cbd;
    --link-color: #000000;
    --hover-link-color: #294fb9;
    --border-color: #2e91c66c;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
    background-color: var(--primary-background-color);
    color: var(--text-color);
    border-style: none;
    font-family: var(--bs-font-monospace);
}

.container {
    border: 1px solid var(--border-color);
    border-style: none;
}

.content-container {
    /* max-width: 1200px; */
    margin: auto auto;
    padding: auto auto;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--hover-link-color);
}

/* NAVIGATION SECTION  */
.navbar {
    background-color: var(--primary-background-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 100px;
}

.navbar-toggler {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: none;
}

.navbar-toggler .fa-solid.fa-bars {
    height: 2px;
    width: 25px;
    background-color: var(--text-color);
    margin: 3px 0;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.navbar-toggler:hover {
    color: var(--hover-color);
    background-color: var(--secondary-background-color);
}

.navbar-nav {
    display: flex;
    list-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--accent-color);
    text-transform: lowercase;
    font-weight: lighter;
    font-size: 14px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    letter-spacing: 0.5px;
}

.navbar .navbar-nav a.nav-link:hover {
    color: var(--hover-link-color);
}

.navbar .navbar-nav .nav-item > .social-link:hover {
    color: var(--hover-link-color);
}

.navbar .navbar-nav .nav-item > .social-link {
    color: var(--accent-color);
    font-size: 1.4rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.social-links {
    display: flex;
    align-items: center;
    height: 30px;
}

.social-links::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: var(--border-color);
    margin-right: 1rem;
}

.navbar-collapse {
    display: flex;
    align-items: center;
}

/* MASTHEAD ON INDEX */
.masthead {
    padding-top: calc(2rem + 50px);
    padding-bottom: calc(2rem + 10px);
    text-align: center;
    min-height: 70vh;
    font-family: var(--bs-font-sans-serif);
}

.masthead .masthead-heading {
    text-transform: uppercase;
    font-size: 2.6rem;
    font-weight: 900;
    line-height: 2rem;
    letter-spacing: 1px;
    white-space: nowrap;
}

.masthead .masthead-subheading {
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 440;
    color: var(--secondary-text-color);

}

.masthead .masthead-content {
    font-size: 1.3rem;
    text-transform: lowercase;
    font-weight: 400;
    color: var(--secondary-text-color);
    padding: 2rem;
}

.subheading-container {
    width: 75%;
    margin: 2rem auto;
    padding: 20px 20px;
}

.masthead-img {
    background-image: url('../img/background-img.jpg');
    background-size: cover;
    background-position: center;
}

.scroll-button {
    background-color: var(--hover-color);
    color: var(--primary-background-color);
    border: none;
    border-radius: 15px;
    text-transform: lowercase;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.scroll-button:hover {
    background-color: var(--secondary-background-color);
}

.scroll-button:focus,
.scroll-button:active {
    outline: none;
    box-shadow: none;
}

.content-container {
    text-align: center;
}

/* ABOUT SECTION INDEX.HTML */
.about-section {
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
    background-color: #f8f8f8; 
    padding: 2rem 0;
    padding-left: 2rem;
}

.about-section .about-heading {
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}

.about-section .about-content {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--secondary-text-color);
    text-align: justify;
    padding: 0 1rem;
}

#aboutContent::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
#aboutContent {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Make sure the content area has a fixed height and overflow auto */
#aboutContent {
    overflow-y: scroll;
    overflow-y: hidden; /* Hide horizontal scrollbar if any */
}

.section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.scrollable-content {
    overflow-y: auto;
    height: 100%;
}


/* General styles for the about-nav links */
.about-nav .nav-link {
    color: #ffffff; /* Example color */
    padding: 10px;
    transition: color 0.3s, background-color 0.3s; /* Smooth transitions */
    background-color: #b3b5b8;
    color: var(--primary-background-color);
    border: none;
    border-radius: 15px;
    text-transform: lowercase;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    font-weight: lighter;
    cursor: pointer;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}


/* Style for active link */
.about-nav .nav-link.active {
    color: #ffffff; /* Active link color */
    background-color: #ffffff; /* Background color for active link */
    background-color: var(--hover-color);
    outline: none;
    box-shadow: none;
}

/* Style for hovered link */
.about-nav .nav-link:hover {
    background-color: var(--secondary-background-color);
}

.collapse {
    visibility: visible;
    overflow: hidden;
    transition: height 0.001s ease, visibility 0.01s ease;
}


/* RESPONSIVE DESIGN */
@media (max-width: 768px) {
    .masthead .masthead-heading {
        font-size: 2rem;
        line-height: 2rem;
        overflow-wrap: break-word;
        white-space: wrap;
    }

    .masthead {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .masthead .masthead-subheading {
        font-size: 1.2rem;
    }

    .masthead .masthead-content {
        font-size: 1.1rem;
        padding: 1rem 1rem;
    }

    .subheading-container {
        width: 90%;
        padding-bottom: 10px;
    }

    .navbar {
        height: auto;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-toggler {
        display: flex;
    }

    .navbar-brand {
        margin: auto;
    }

    .collapse.show {
        visibility: visible;
        display: block;
        height: auto;
        background-color: var(--primary-background-color)
    }

    .social-links {
        display: none !important;
    }

    .about-section {
        padding: 2rem 1rem;
        min-height: 86vh;
    }

    .about-section .about-heading {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .about-section .about-content {
        font-size: 1rem;
        padding: 0 0.5rem; 
    }

    .about-nav .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 990px) {
    .flex-column {
        display: none;
    }
}
