
.nav-item.nav-link {
    color: #0066d39a; 
    font-weight: bold; 
    font-family: ubuntu;
}

.nav-item.nav-link:hover {
    /* Styles for hover state */
    color: #007bff;
}

.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}
.masthead .masthead-heading {
    font-size: 2.75rem;
    line-height: 2.75rem;
}

.masthead .masthead-subheading {
    font-size: 1.25rem;
}

.masthead .masthead-avatar {
    width: 15rem;
}

.masthead-img {
    background-image: url('../img/header-background.png');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image within the container */
}


@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }
    .masthead .masthead-heading {
        font-size: 4rem;
        line-height: 3.5rem;
    }
    .masthead .masthead-subheading {
        font-size: 1.5rem;
    }
}